<div class="container-fluid" style="margin-top: 40px; text-align: left;">
<div class="col-md-1"></div>
<div class="col-md-10">
<ul>
    <div style="text-align:right;">
    <% if user_signed_in? %>
    <%= current_user.email %> || <a href="/users/sign_out" data-method="delete">로그아웃</a>
    <% else %>
    <a href="/users/sign_up">회원가입</a> || <a href="/users/sign_in">로그인</a>
    <% end %>
    </div>
</ul>


<%= form_tag "/members/post_write", method: "post", style: "text-align:left;" do %>
    <p><input type="text" name="title" placeholder="글제목" style="width:100%; text-align: left;"></p>
    <p><textarea name="content" placeholder="글내용" style="width:100%; text-align: left;"></textarea></p>
    <p><input type="submit" value="작성"></p>
<% end %>

<div class="list-group">
<% @membersposts.each.with_index do |post,index| %>
    <a href="/members/post_read/<%= post.id %>"><button type="button" class="list-group-item">
      <b><%= post.user.email %></b> || <%= post.title %>
      <span class="badge"><%= post.members_comments.count %></span><br>
    </button></a>
<% end %>
</div>
<%= will_paginate @membersposts %>

</div>
<div class="col-md-1"></div>
</div>

